body {
  background-color: #adcfeb;
  font-family: 'Varela Round', sans-serif;


}

*{
  padding: 0;
  margin: 0;
}

nav {
  background-color:#0797E3;
  height: 40px;
}

nav ul{
 border: 1px solid;
 border-bottom: 1px solid;
 height: 40px;
 width: 370px;
 margin: 0 auto;
}

nav ul li{
  list-style-type: none;
  width: 120px;
  float: left;
  border-right: 1px solid black;
  border-left: 1px solid black;
  text-align: center;
}

li a{
 text-decoration: none;
 color: #ffffff;
 line-height: 40px;
 display: block;
}

li a:hover{
  background-color: #41DAFF;
  color: #ffffff;
}

.word {
position: relative;
text-algin: center;
color: mintcream;
} 

.place {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  height: 8px;
}

.space {
  line-height: 1.75;
}
